/* #heading{
    color: darkmagenta;
    width:full;
   
    box-shadow:7rem;
    text-size-adjust: 5;
} */
.body{
    background-color: antiquewhite;
}

.header{
    display: flex ;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #f0f0f0;
    
}

.logo{
    width:200px;
}

.nav-items>ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}
.res-card{
    
    width: 200px;
    flex-wrap: wrap;
    /* /* word-wrap: break-word;  */
    overflow-wrap: break-word;  
    white-space: normal;
    margin: 5px;
    background-color: #f0f0f0;
    padding: 5px;
}

.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    object-fit: cover;
  
    width: 100%;
}

.filter-btn{
    margin:10px;
}

.shimmer-card{
    height: 290px;
    width: 200px;
    margin: 10px;
    background-color: #f0f0f0;
}

.shimmer-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.login{
    margin: 5px;
    background-color: black;
    color: aliceblue;
    padding: 0 10px;
}

.filter{
    display: flex;
}